.lds-facebook {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: rgb(177, 166, 177);
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@-webkit-keyframes lds-facebook {
  0% {
    top: 4px;
    height: 30px;
  }
  50%, 100% {
    top: 12px;
    height: 16px;
  }
}
@keyframes lds-facebook {
  0% {
    top: 4px;
    height: 30px;
  }
  50%, 100% {
    top: 12px;
    height: 16px;
  }
}
