body{
    margin: 0;
}
nav ul {
    background-color: #333;
    padding: 0px;
    margin: 0px;
  }
  nav li {
    display: inline;
  }

  nav li a{
    display: inline-block;
    padding: 15px;
    text-align: center;
    text-decoration: 'none';
    color: white;
  }
  nav li a:hover {
    background-color: #111;
  }
