.container {
    display: flex;
    flex-wrap: wrap ;
    align-items: flex-start
  }
.item{
    display: 'inline-block';
    margin: 0 10px;
    width:100px;
}
.carta{
  cursor: pointer;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.carta:active {
  filter: brightness(50%);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.tablero {
  display: flex; /* or inline-flex */
  justify-content: space-between
}
.actual{
  flex-grow: 1;
}

.cartas {
  flex-grow: 4; /* default 0 */
}
.mazo{
  display: flex; /* or inline-flex */
  justify-content: space-evenly
}
.add:hover{
  cursor: pointer;
}