/* styles */
/* called by your view template */
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: helvetica, arial, sans-serif;
    height: 100%;
  }
  img {
    height: 90%;
    margin: 10px;
  }
  .Card img {
    height: 90%;
    width:125px;
    margin: 10px;
  }
  button {
    border: none;
    background: transparent;
    width: 100px;
    padding:0px;
    outline: 0;
  }
  button:hover {
    cursor:pointer;
  }
  
  button:active {
    
    border: none;
    transform: translateY(10px);
  }
  .board {
    width: 70%;
    height: 90%;
    margin: auto;
    padding: 2%;
    display: inline-block;
  }
  .player {
    width: 1000px;
    height: 200px;
    margin: 1%;
    background-color: red;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
  }
  .player1 {
    height: 200px;
  }
  .player2 {
    height: 200px;
  }
  .card {
    display: inline-block;
    height: 80%;
    margin: 10px;
  }
  .card:hover{
    cursor:pointer;
  }
  .play {
    display: inline-block;
    margin-left: 100px;
  }
  .deck {
    height: 200px;
    width: 10%;
    display: flex;
  }
  .playing {
    height: 200px;
    width: 10%;
    display: flex;
  }
  